main {
        min-height: 500px;
}

.pager {
    min-height: 50px;
}

.pager label {
    margin: 25px 140px;
}

.item-list {
    min-height: 300px;
} 

button:disabled {
        opacity: .5;
}

ul,p {
    margin:0;
}

label {
    font-weight: normal;
}

h1.title {
    margin-top: 20px;
}

footer p {
    display: block;
    text-align: center;
    margin: 35px;
    border-top: solid 1px #eee;
    padding-top: 15px;
}

.inline {
    display: inline-block;
}

/*MiSC*/


.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clearfix:after, .row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.hide {
    display: none;
}
